
        
        #topbar{
            width: 100%;
            margin: 0 auto;
        
            height: 50px;
            background-color: aqua;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;

        }
        #logo {
            margin-top: 1px;
            width: 80px;
            height: 50px;
            float: left;
            
            
            

        }
        .topbar_section {
            
            border-left: 1px gray solid;
            height: 100%;
            margin-right: auto;
            padding-right: 30px;
            padding-left: 30px;
            
            
            

        }
        #signin_image  {
            height: 30px;
            width: 30px;
            margin: 10px 10px;
            float: left;
        }

        #signin_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;
            
        }
        #signin {
            float: left;
            margin-right: 8px ;

        }
        #home {
            float: left;
            margin-right: 8px ;
            
        }

        #home_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;
            

        }
        #images {
            float: left;
            margin-right: 8px ;
        }

        #images_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;

        }



        #maps {
            float: left;
            margin-right: 8px ;
        }

        #map_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;
        }



        #colleges {
            float: left;
            margin-right: 8px ;
        }

        #colleges_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;

        }


        #schools {
            float: left;
            margin-right: 8px ;
        }

        #schools_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;

        }



        #shops {
            float: left;
            margin-right: 8px ;
        }

        #shops_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;

        }


        #hospitals {
            float: left;
            margin-right: 8px ;
        }

        #hospitals_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;

        }

        #hospitals {
            float: left;
            margin-right: 8px ;
        }

        #search_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;

        }



        #contact {
            float: left;
            margin-right: 8px ;
            border-right: 1px gray solid;
        }

        #contact_text {
            font-weight: bold;
            font-size: 90%;
            position: relative;
            top: 14px;
        }
